# Python EinfÃ¼hrung
erster Teil
- erster Teil
- zweiter Teil 
- dritter Teil

In [1]:
2 + 2

In [2]:
print("hello")

In [3]:
x = 2
y = 3
x + y

In [4]:
# string
text = "Library Carpentry 1.0"
# integer
number = 42
# float
pi_value = 3.141

In [5]:
4 * 5

In [6]:
3 > 4

In [7]:
5 == 5

In [8]:
my_numbers = [1, 2, 3]

In [9]:
my_numbers[1]

In [11]:
my_numbers

[1, 2, 3]

In [12]:
len(my_numbers)

3

In [13]:
my_name = "Sonja"
len(my_name)

5

In [14]:
my_name.upper()

'SONJA'

In [15]:
my_name_capital = my_name.upper()

In [16]:
my_name_capital.lower()

'sonja'

In [17]:
my_name_capital?

In [18]:
my_numbers = [1, 2, 3]
for number in my_numbers:
    print(number)

1
2
3

In [21]:
my_numbers = [1, 2, 3]
for number in my_numbers:
    number_plus_one = number + 1
    print("These are all my numbers")
    print(number_plus_one)
print("our loop finished")

These are all my numbers
2
These are all my numbers
3
These are all my numbers
4
our loop finished

In [24]:
authors_and_books = {"Darwin" : "Species", 
                     "Jemison" : "Wind", 
                     "Hawking" : "nutshell", 
                     "numbers" : [1, 2, 3]}

In [23]:
authors_and_books["Darwin"]

'Species'

In [26]:
def sub_function(a, b):
    result = a - b
    return result

In [27]:
sub_function(5, 2)

3

In [28]:
my_result = sub_function(767556546, 6846457776)

In [29]:
print(my_result)

-6078901230

In [30]:
sub_function(5,3)
sub_function(3, 7)

-4

In [31]:
read_ecxelsheet()
calculate_excelsheet()

NameError: name 'read_ecxelsheet' is not defined

In [32]:
my_numbers = (1, 2, 3)
def add_one_to_number(list_of_numbers):
    for number in list_of_numbers
    number_plus_one = number + 1
    print("these are all my numbers")
    print(number_plus_one)
    
add_one_to_number(my_name)

SyntaxError: invalid syntax (<ipython-input-32-bc3110ae2ab6>, line 3)

In [38]:
temp = 16
if temp > 20:
    print("ja es ist warm")
elif temp < 5:
    print("es ist kalt")
else: 
    print ("es ist mild")

es ist mild